export("InteractiveComplexHeatmapOutput")
export("htPositionsOnDevice")
export("htShiny")
export("htShinyExample")
export("ht_shiny")
export("renderInteractiveComplexHeatmap")
export("selectArea")
export("selectPosition")

import(ComplexHeatmap)
import(GetoptLong)
import(IRanges)
import(S4Vectors)
import(digest)
import(grid)
import(shiny)
import(svglite)
importFrom("grDevices", "dev.copy", "dev.interactive", "dev.new", "dev.off", "dev.size", "png")
importFrom("grDevices", "dev.list")
importFrom("grDevices", "pdf")
importFrom("kableExtra", "scroll_box", "kable_styling", "kbl", "column_spec", "row_spec")
importFrom("stats", "rnorm")
importFrom("utils", "write.csv")
importFrom("utils", "write.table")
importFrom("htmltools", "htmlDependency")

