export("InteractiveComplexHeatmapOutput")
export("MakeInteractiveComplexHeatmap")
export("ht_pos_on_device")
export("ht_shiny")
export("selectArea")
export("selectPosition")

import(ComplexHeatmap)
import(GetoptLong)
import(IRanges)
import(S4Vectors)
import(digest)
import(grid)
import(shiny)
importFrom("grDevices", "dev.copy", "dev.interactive", "dev.new", "dev.off", "dev.size", "png")
importFrom("stats", "rnorm")

